{% extends 'dir_browse/base.html' %}

{% block left %}
<a class="directories-menu-button" onClick="openCodeTab(event, 'cell-code-tab2')">+{% load static %} 
    <img src="{% static 'dir_browse/images/directory.png' %}" alt="directory icon">
</a>
<a class="directories-menu-button" onClick="openCodeTab(event, 'cell-code-tab3')">+{% load static %}
    <img src="{% static 'dir_browse/images/file.png' %}" alt="file icon">
</a>
{% endblock %}
{% block centre %}
<div class="cell-code" id="cell-code-tab1">
    <label>You are in the root directory.</label>
</div>

<div class="cell-code" id="cell-code-tab2">
    <div class="return-button" onClick="openCodeTab(event, 'cell-code-tab1')">X</div>
    <h3>Dodaj folder:</h3>
    <form action={% url 'dir_browse:add_dir' 0 %} method="post">
        {% csrf_token %}
        {{add_dir_form.as_p}}
        <input type="submit" value="Zatwierdź">
    </form>
</div>

<div class="cell-code" id="cell-code-tab3">
    <div class="return-button" onClick="openCodeTab(event, 'cell-code-tab1')">X</div>
    <h3>Dodaj plik:</h3>
    <form action={% url 'dir_browse:add_file' 0 %} method="post">
        {% csrf_token %}
        {{add_file_form.as_p}}
        <input type="submit" value="Zatwierdź">
    </form>
</div>

<script type="text/javascript">
    function openCodeTab(evt, tabId) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("cell-code");
        for (i = 0; i < tabcontent.length; i++) {
            
            tabcontent[i].style.display = "none";
        }

        document.getElementById(tabId).style.display = "block";
    }

    openCodeTab(undefined, "cell-code-tab1");

</script>
{% endblock %}

