<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href={% static 'dir_browse/schemeStyle.css' %}>
    <meta charset=" UTF-8">
</head>

<body>
    <noscript>Your browser does not support JavaScript!</noscript>
    <div class="login-wrapper">
        <div class="cell-login">
            <h3 class="login-title">LOGIN</h3>
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="inner-cell-login">
                    <div class="login-label">{{ form.username.label_tag }}</div>
                    <div class="login-field">{{ form.username }}</div>

                    <div class="login-label">{{ form.password.label_tag }}</div>
                    <div class="login-field">{{ form.password }}</div>
                </div>

                <input type="submit" value="SIGN IN" class="login-button">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
</body>

</html>